@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Heebo:wght@800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url("./Images/bg1.jpg") no-repeat center center fixed;
    background-size: cover;
}
.container{
    /* border: 2px solid black; */
    color: white;
    position:absolute;
    top: 16%;
    left: 11%;
    /* top: 35%;
    left: 40%; */
}
.container h1{
    /* display: inline; */
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0px;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}
.box{
    width: 100%;
    /* border: 2px solid purple; */
    border-bottom: 2px solid purple;
    margin: 22px 0px;
}
.box input{
    width: 75%;
    outline: none;
    color: white;
    /* margin: 34px 0px; */
    padding: 5px 10px;
    font-size: 20px;
    background: none;
    border: none;
    /* border: 2px solid purple;
    border-radius: 10px; */
    font-family: 'Dosis', sans-serif;
}
.box input::placeholder{
    color: white;
    opacity: 0.5;

}
.box i{
    width: 25px;
    text-align: center;
    /* padding: 0px 24px; */
}
.btn{
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    margin: 12px 0px;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    margin: 12px 0px;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid purple;
    font-size: 18px;
    background: white;
    color: purple;
    font-weight: bold;
    opacity: 0.5;

}